html {
    background: white;
}
body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: ghostWhite;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
}
#message {
    width: 35%;
    text-align: left;
    margin-left: 5px;
    padding: 5px;
    color: saddleBrown;
    font-family: fantasy;
}
#titre {
    width: 20%;
    text-align: center;
    font-family: fantasy;
    font-size: 120%;
}
nav {
    width: 45%;
    text-align: right;
}
#login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inscription {
    max-width: 20%;
    border: 2px saddleBrown solid;
    border-radius: 10px;
    padding: 15px 15px 25px 15px;
    margin-top: 2%;
    margin-left: 10%;
}
#connexion {
    border: 2px saddleBrown solid;
    border-radius: 10px;
    padding: 15px 15px 25px 15px;
    margin-top: 2%;
    margin-right: 10%;
}
nav a {
    margin-right: 5px;
}
.image {
    text-decoration: none;
}
#registration-help {
    display: flex;
}
#help-from-registration {
    border: 1px skyBlue solid;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-left: 50px;
    font-size: 75%;
    font-style: italic;
    max-height: 150px;
}
label {
    display: block;
}
.bouton-href {
    text-decoration: none;
    color: white;
}
button {
    background: steelBlue;
    border: 2px steelBlue solid;
    border-radius: 5px;
    color: white;
    font-size: 90%;
}
.page {
    margin: 10px;
}
#id_rating_0 {
    display: none;
}
#id_rating {
    display: flex;
    max-width: 40%;
    justify-content: space-between;
}
#id_title, #id_description, #id_headline, #id_body, #id_follows {
    width: 75%;
}
.tab-followings, .tab-followers {
    border: 1px black solid;
    padding: 10px;
    width: 70%;
}
.tableaux {
    display: flex;
    flex-direction: column;
}