{% extends 'base.html' %}
{% load critics_extras %}
{% block content %}
<div class="page">
    <button>
        <a class="bouton-href" href="{% url 'ticket_create' %}">Demander une critique</a>
    </button>
    <button>
        <a class="bouton-href" href="{% url 'ticket_review_create' %}">Publier une critique</a>
    </button>
    {% if not page_obj %}
        <p>Votre flux est vide... publiez ou suivez des critiques !</p>
    {% endif %}
    {% for post in page_obj %}
        {% if post|model_type == 'Ticket' %}
            <div class="ticket-post">
                {% include 'critics/partials/ticket_snippet.html' with ticket=post %}
                <div class="bouton-post">
                    <button>
                        <a class="bouton-href" href="{% url 'review_create' post.id %}">Créer une critique</a>
                    </button>
                </div>
            </div>
        {% elif post|model_type == 'Review' %}
            <div class="review-post">
                {% include 'critics/partials/review_snippet.html' with review=post %}
                <div class="ticket-post">
                    {% include 'critics/partials/ticket_snippet.html' with ticket=post.ticket %}
                    {% if not post.ticket|is_review_user:request.user %}
                        <div class="bouton-post">
                            <button>
                                <a class="bouton-href" href="{% url 'review_create' post.ticket.id %}">
                                Créer une critique</a>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="image" href="?page=1">&#x27ea &nbsp</a>
            <a class="image" href="?page={{ page_obj.previous_page_number }}">&#x27e8 &nbsp</a>
        {% endif %}
        <span class="text-page">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a class="image" href="?page={{ page_obj.next_page_number }}">&nbsp &#x27e9</a>
            <a class="image" href="?page={{ page_obj.paginator.num_pages }}">&nbsp &#x27eb</a>
        {% endif %}
    </div>
</div>
{% endblock content %}