{% extends 'base.html' %}
{% block content %}
<div class="page">
    <form method="post">
        <h3>Nouveaux critiques à suivre</h3>
        {{ form.follows }}
        {% csrf_token %}
        <button type="submit" >Suivre</button>
    </form>
    <hr>
    <h3>Vos abonnements</h3>
    <div class="tableaux">
        {% for following in followings %}
            <span class="tab-followings">{{ following.username }}</span>
        {% endfor %}
    </div>
    <hr>
    <h3>Vos abonnés</h3>
    <div class="tableaux">
        {% for follower in followers %}
            <span class="tab-followers">{{ follower.username }}</span>
        {% endfor %}
    </div>
</div>
{% endblock content %}