{% extends 'base.html' %}
{% load critics_extras %}
{% block content %}
<div class="page">
    {% if not posts %}
        <p>Vous n'avez encore rien publié... à vos critiques !</p>
    {% endif %}
    {% for post in posts %}
        {% if post|model_type == 'Ticket' %}
            <div class="ticket-post">
                {% include 'critics/partials/ticket_snippet.html' with ticket=post %}
                <div class="bouton-post">
                    <button>
                        <a class="bouton-href" href="{% url 'ticket_update' post.id %}">Modifier</a>
                    </button>
                    <button>
                        <a class="bouton-href" href="{% url 'ticket_delete' post.id %}">Supprimer</a>
                    </button>
                </div>
            </div>
        {% elif post|model_type == 'Review' %}
            <div class="review-post">
                {% include 'critics/partials/review_snippet.html' with review=post %}
                <div class="ticket-post">
                    {% include 'critics/partials/ticket_snippet.html' with ticket=post.ticket %}
                </div>
                <div class="bouton-post">
                    <button>
                        <a class="bouton-href" href="{% url 'review_update' post.id %}">Modifier</a>
                    </button>
                    <button>
                        <a class="bouton-href" href="{% url 'review_delete' post.id %}">Supprimer</a>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
